:root {
  --bg-color: #282828;
  --blue-color: #83a598;
  --neutral-blue-color: #458588;
  font-family: Roboto, FantasqueSansM Nerd Font Mono;
}

a {
  color: unset;
  text-decoration: unset;
}

body, h1, h2, ul, p {
  margin: unset;
}

h1, h2 {
  padding: 0.3rem;
}

#page {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
}

section > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  padding: 2rem;
}

#info {
  flex: 1;
  background-color: var(--blue-color);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;


  h1 {
    /*background-color: var(--green-color);*/
    color: white;
    font-size: 2.5rem;
  }

  h1, h2 {
    background-color: var(--bg-color);
    color: white;
  }

  ul {
    list-style: none;
    padding: unset;
  }

  #profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    #picture {
      border-radius: 100%;
      aspect-ratio: 1;
      width: 200px;
      background-image: url("../assets/profile.jpg");
      background-position: 100% 37%;
      background-size: 400px;
      filter: contrast(125%) saturate(125%);
    }
  }

  #contact .icon {
    padding-right: 1rem;
    font-size: 1.5rem;
  }

  #hard-skills ul,
  #soft-skills ul,
  #hobbies ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  #hard-skills li,
  #soft-skills li,
  #hobbies li {
    background-color: var(--neutral-blue-color);
    color: white;
    border-radius: 10px;
    padding: 0.3rem;
  }

  li {
    font-weight: bold;
  }
}

#xp {
  flex: 3;
  background-color: white;
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    border-bottom: solid;
  }

  .title {
    font-weight: bold;
  }

  #experiences > ul,
  #certification > ul,
  #ctfs > ul,
  #education > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
